* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: 'Apercu Movistar Bold';
}

.contain {
    margin: auto 60px;
    border: red 1px solid;
}

ul li {
    list-style: none;
}

/************************************************************/
nav>ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

nav img {
    filter: invert(100%);
    width: 100px;
}

button.btn {
    padding: .4rem 1.4rem;
    color: white;
    background-color: #019bf4;
    border-radius: .4rem;
    border: none;
}

button.btn:hover {
    color: black;
    background-color: white;
    /*da mettere la transizione che il background diventa grigio gradualmente*/
}

/******************************************************************/
section.jumbo {
    position: relative;
}

section.jumbo img {
    width: 100%;
    height: 700px;
    object-fit: cover;
    display: block;
    filter: opacity(50%);
    -webkit-filter: opacity(70%);

}

section.jumbo div {
    width: 520px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/****************************/

.flex {
    display: flex;
}

section {
    border: green 1px solid;
}