* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: "Roboto", sans-serif;
}

.contain {
    margin: auto 60px;
}

.contain2 {
    padding: 50px 0;
    margin: auto 120px;
}

ul li {
    list-style: none;
}

img {
    display: block;
}

h1 {}

/************************************************************/
nav>ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

nav img {
    filter: invert(100%);
    width: 100px;
}

button.btn {
    padding: .4rem 1.4rem;
    color: white;
    background-color: #019bf4;
    border-radius: .4rem;
    border: none;
}

button.btn:hover {
    color: black;
    background-color: white;
    /*da mettere la transizione che il background diventa grigio gradualmente*/
}

/******************************************************************/
section.jumbo {
    position: relative;
}

section.jumbo img {
    width: 100%;
    height: 700px;
    object-fit: cover;
    filter: opacity(50%);
    -webkit-filter: opacity(70%);

}

section.jumbo div {
    width: 520px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

section.services h2 {
    text-align: center;
    margin-bottom: 4rem;
}

section.services div.items {
    display: flex;
}

div.item {
    margin: 0 3rem;

}

div.item img {
    width: 80px;
    aspect-ratio: 3/2;
    margin-bottom: 2rem;
}

section.events>div:nth-child(2) {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


section.events div.event {
    display: flex;
    justify-content: space-between;
}

section.events div.event div:first-child img {
    width: 100%;
}

section.events div.event div:first-child {
    width: 74%;
}

section.events div.event div:nth-child(2) {
    background-color: #1f1f1f;
    padding: 2.3rem 2rem;
    border-radius: .4rem;
    width: 25%;
}

section.events div.event img {
    width: 100%;
}

footer {
    background-color: #0d0d0d;
    padding: 50px 0;
}

footer>div {
    display: flex;
    justify-content: space-between;
    position: relative;
}

footer ul {
    display: flex;
}

footer div.copy img {
    width: 120px;
    margin-bottom: .5rem;
}

footer div.srv {
    align-self: flex-end;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

footer div.srv li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15px;
    padding: 0 1rem;
    border-right: 1px solid white;
}

footer div.srv li:last-child {
    border: none;
}


footer div.social p {
    margin-bottom: 1.2rem;
}

footer div.social li i {
    font-size: 1.5rem;
    padding-right: 1rem;
}